body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100; /* Ensure it stays behind other content */
  object-fit: cover; /* Cover the whole screen */
  background: #3A2658; /* Fallback color */
}


.header, .footer {
  background-color: #842C7E; /* Adjust the hex code to match the dark purple header/footer */
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title, .footer-text {
  margin-left: 20px;
}

.header-nav .nav-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.main-content {
  text-align: center;
  color: white;
  padding: 30px 10px;
}

.envelope-icon {
  width: 64px;
  height: 64px;
  background-color: white; /* Placeholder for the envelope icon */
  margin: 0 auto 20px;
  display: block;
  /* Add a background image if an icon is available */
}

.main-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.main-content button {
  background-color: #9B0070;
  /* Adjust the hex code to match the button color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 1920px) {
  .header-nav .nav-link, .header-title, .footer-text {
      margin: 0 10px;
  }
}

/* Adding shadow to h1 text */
h1 {
  text-shadow: 2px 2px 4px #000000; /* Adjust values and color as needed */
}

/* Adding shadow to the button */
#enter360 {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adjust values and color as needed */
  /* Add any other styling for your button here */
}

.logo-icon {
  width: 250px; /* or whatever size you prefer */
  height: auto; /* to maintain aspect ratio */
  display: block; /* or inline-block, depending on your layout */
  margin: 0 auto; /* if you want to center it in the div */
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.5)); /* Horizontal offset, vertical offset, blur, color */
}

/* Styling the select element itself */
select.custom-select {
  width: 200px;  /* Width of the select dropdown */
  height: 40px;  /* Height of the select box */
  font-size: 16px;  /* Size of the text */
  padding: 5px 10px;  /* Padding inside the select box */
  cursor: pointer;  /* Cursor to indicate it's clickable */
  background-color: #842C7E;  /* Background color */
  color: white;  /* Text color */
  border: none;  /* Removes default border styles */
  border-radius: 10px;  /* Optional: rounds the corners */
}

/* Option styling - ensuring readability in dropdown */
option {
  font-size: 16px;  /* Size of the text inside options */
  padding: 10px;  /* Padding inside options */
  background-color: #9B0070;  /* Consistent background color */
  color: white;  /* Text color for readability */
}

/* Hover effect for options */
option:hover {
  background-color: #9B0070;  /* Consistent background color */
  color: white;  /* Text color for readability */
}